{% extends "base.html" %}
{% block head %}
<script>
    const delete_user = () => {
        const deleted_user = document.getElementById("name").value;
        window.location.href = `/pages/user/find_user?user_id=${deleted_user}`;
    }
</script>
{% endblock %}
{% block content %}
<section class="section">
    <p class="start">Delete user</p>
    <div class="name">
        <p class="name">
            Name
        </p>
        <input type="text" id="name" name="name" required>
    </div>
    <div class="btn_confirm">
        <button class="confirm" onclick="delete_user()">Confirm</button>
    </div>
    <table>
        <thead>
          <tr>
              <th>id</th>
              <th>name</th>
              <th>email</th>
              <th>tariff</th>
              <th>created_at</th>
          </tr>
        </thead>
        <tbody>
             {% for us in user %}
                <tr>
                    <th>{{ us.id }}</th>
                    <td>{{ us.name }}</td>
                    <td>{{ us.email }}</td>
                    <td>{{ us.tariff_id }}</td>
                    <td>{{ us.created_at }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

{% endblock %}
