{% extends "base.html" %}

<body>
{% block content %}
    <section class="section">
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>email</th>
                    <th>tariff</th>
                    <th>created_at</th>
                </tr>
            </thead>
            <tbody>
            {% for us in tariff %}
                <tr>
                    <th>{{ us.id }}</th>
                    <td>{{ us.name }}</td>
                    <td>{{ us.email }}</td>
                    <td>{{ us.tariff_id }}</td>
                    <td>{{ us.created_at }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="aciton">
        <a href="/tariff/add_tariff">Add tariff</a>
        </div>
        <div class="aciton">
        <a href="/tariff/find_tariff">Find tariff</a>
        </div>
        <div class="aciton">
        <a href="/tariff/delete_tariff">Delete tariff</a>
        </div>
    </section>
{% endblock %}
