{% extends "base.html" %}

<body>
{% block content %}
  <section class="section">
    <div class="action">
        <a href="/pages/tariff/get_tariffs">Get tariffs</a>
    </div>
    <div class="action">
        <a href="/pages/tariff/add_tariff">Add tariff</a>
    </div>
    <div class="action">
        <a href="/pages/tariff/find_tariff?tariff_id=11111">Find tariff</a>
    </div>
    <div class="action">
        <a href="/pages/tariff/delete_tariff?tariff_id=1111111">Delete tariff</a>
    </div>
  </section>
    {% endblock %}
