{% extends "base.html" %}

<body>
{% block content %}
  <section class="section">
    <div class="action">
        <a href="/tariffs/get_tariffs?tariffs_id=1">Get tariffss</a>
    </div>
    <div class="action">
        <a href="/tariffs/add_tariffs">Add tariffs</a>
    </div>
    <div class="action">
        <a href="/tariffs/find_tariffs">Find tariffs</a>
    </div>
    <div class="action">
        <a href="/tariffs/delete_tariffs">Delete tariffs</a>
    </div>
  </section>
    {% endblock %}
</body>
</html>