{% extends "base.html" %}

<body>
{% block content %}
    <section class="section">
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>email</th>
                    <th>server</th>
                    <th>created_at</th>
                </tr>
            </thead>
            <tbody>
            {% for us in server %}
                <tr>
                    <th>{{ us.id }}</th>
                    <td>{{ us.name }}</td>
                    <td>{{ us.email }}</td>
                    <td>{{ us.server_id }}</td>
                    <td>{{ us.created_at }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="aciton">
        <a href="/server/add_server">Add server</a>
        </div>
        <div class="aciton">
        <a href="/server/find_server">Find server</a>
        </div>
        <div class="aciton">
        <a href="/server/delete_server">Delete server</a>
        </div>
    </section>
{% endblock %}
