{% extends "base.html" %}

<body>
{% block content %}
  <section class="section">
    <div class="action">
        <a href="/pages/hardware/get_hardwares">Get hardwares</a>
    </div>
    <div class="action">
        <a href="/pages/hardware/add_hardware">Add hardware</a>
    </div>
    <div class="action">
        <a href="/pages/hardware/find_hardware?hardware_id=1">Find hardware</a>
    </div>
    <div class="action">
        <a href="/pages/hardware/delete_hardware">Delete hardware</a>
    </div>
  </section>
    {% endblock %}
</body>
</html>